 // Font Family
$fontHeader: "Montserrat", sans-serif;
$fontStack: "Open Sans",Helvetica,Arial,sans-serif;

// Font Size
$size6px:0.375em;
$size7px:0.438em;
$size8px:0.500em;
$size9px:0.563em;
$size10px:0.625em;
$size11px:0.688em;
$size12px:0.750em;
$size13px:0.813em;
$size14px:0.875em;
$size15px:0.938em;
$size16px:1.000em;
$size17px:1.063em;
$size18px:1.125em;
$size19px:1.188em;
$size20px:1.250em;
$size21px:1.313em;
$size22px:1.375em;
$size23px:1.438em;
$size24px:1.500em;

//Button and Banner Colors
 $defaultColor:#808A8F; //grey
 $defaultColorHover:lighten($defaultColor,5%); //lighter grey
 $primaryColor:#337ab7; // dark blue (main app color)
 $primaryColorHover:lighten($primaryColor,5%); //lighter dark blue (main app hover color)
 $successColor:#5cb85c; //turquoise
 $successColorHover:lighten($successColor,5%); //lighter turquoise
 $warningColor:#f0ad4e; //yellow
 $warningColorHover:lighten($warningColor,5%); //lighter yellow
 $infoColor:#5bc0de; //blue
 $infoColorHover:lighten($infoColor,5%); //lighter blue
 $dangerColor:#d9534f; //red
 $dangerColorHover:lighten($dangerColor,5%); //lighter red

 $yellowColor: #f0ad4e;
 $yellowColorHover:lighten($defaultColor,5%);

 $redColor: #d9534f;
 $redColorHover:lighten($defaultColor,5%);

 $greenColor: #5cb85c;
 $greenColorHover:lighten($defaultColor,5%);

 $redColor: #DD4B39;
 $redColorHover:lighten($defaultColor,5%);

 $whiteColor: #ffffff !important;
 $whiteColorHover:darken($defaultColor,5%);

//Main link color
$aLinkColor:#2E2E32;
$aLinkHover:#999;

