<%- model_class = Device -%>
<div class="main-content">
  <div class="pageheader">
    <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
    <p class="description">New Device</p>
    <div class="breadcrumb-wrapper hidden-xs">
      <span class="label">You are here:</span>
      <ol class="breadcrumb">
         <li class="active">Devices</li>
      </ol>
    </div>
  </div>
 
  <div class='container-body' id="edit-properties">

    <%= render 'dashboard/new_device' %>

  </div>

</div>