<%- model_class = Schedule -%>
<div class="main-content">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
				    <div class="col-md-10">
					    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
					    <p class="description">Manage Smart Schedules</p>
						</div>
						<div class="col-md-2 pull-right text-right padding-top">
							<%= link_to new_schedule_path, class: "btn btn-primary embossed" do %>
								New Schedule
							<% end %>						
						</div>
					</div>
				</div>

				<div class="panel-body">

					<div class="row">
						<div class="col-md-12" id="schedule-calendar"></div>
					</div>

				</div> 
				<div class="panel-footer">
					<%= link_to new_schedule_path do %>
						New Schedule
					<% end %>
				</div>
			</div>
		</div>   
	</div>
</div> 
